{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "modules": "./src/modules"
        }
      }
    ],
    "transform-object-rest-spread"
  ]
}
